body {
  background-color: #FAFAFA
}

.mainform {
  background-color: #FF00F3
}

#block-container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
  font-family: Arial;
  background-color: #134564;
  color: #876511;
  
}
